<launch>
  <include file="$(find abb_irb6640_irb4400_dfab_support)/launch/load_irb6640_irb4400_dfab.launch" />
  <param name="use_gui" value="true" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find abb_irb6640_irb4400_dfab_support)/config/dfab_irb6640_irb4400.rviz" required="true" />
</launch>
