<?xml version="1.0" ?>
<robot name="irb6640_irb4400_dfab" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find abb_irb6640_irb4400_dfab_support)/urdf/irb6640_185_280_macro.xacro"/>
  <xacro:abb_irb6640_185_280 prefix="irb6640_"/>

  <xacro:include filename="$(find abb_irb6640_irb4400_dfab_support)/urdf/irb4400_45_196_macro.xacro"/>
  <xacro:abb_irb4400_45_196 prefix="irb4400_"/>

  <link name="world"/>

  <joint name="irb6640_world_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="irb6640_track"/>
  </joint>

  <joint name="irb4400_world_joint" type="fixed">
    <origin xyz="8.226 0 -0.382" rpy="0 0 ${pi}"/>
    <parent link="world"/>
    <child link="irb4400_base_link"/>
  </joint>
</robot>

